/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    font-family: Arial Rounded MT Bold;
    line-height: 1.4;
}

body {
    background-color: rgb(19,193,229);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0; 
    padding: 0;
}

footer {
    color:white;
    height:100px;
    text-align: center;
    width: 100%;
    top:150px;
    font-size: 15px;
    font-family: Arial Rounded MT Bold;
}

img {
    display: block;
    margin: auto;
}

#goDown {
    align-self: center;
    margin: auto;
}

/* remove shadow in the carousel controls */
.carousel-control.left, .carousel-control.right {
    background-image: none
}

.lead {
    font-family: Arial Rounded MT Bold;
    font-size: 2.5em;
    color: white;
    text-align: center;
}

#message {
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 15px;
}

.a {
    color:white;
}

#home {
   width:100%;
}

#myCarousel{
    position:absolute;
    left:0;
    right:0;
    top:100px;
    width:100%;
    height: 600px;
    margin: 0 auto;
    display: block;
}

.container {
    margin:0px;
}

.arrow {
    opacity: .57;
    z-index: 1;
}

.arrow, i {
    color: black;
}

.landing-title {
    color:rgb(255,253,57);
    font-family: Arial Rounded MT Bold;
    font-size: 600%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

/*for videos*/
iframe{
    width:75%;
    height: 600px;
    margin: auto;
    display: block;
    align-items: center;
}

.btn {
    position: fixed;
}

#sidebar-wrapper {
    background-color: white;
    font-family: Arial Rounded MT Bold;
}

#chapter1 {
    color:rgb(237,18,117);
}
#chapter2 {
    color:rgb(216,13,19);
}
#chapter3 {
    color:rgb(255,100,0);
}
#chapter4 {
    color:rgb(255,192,0);
}
#chapter5 {
    color:rgb(26,117,5);
}
#chapter6 {
    color:rgb(0,147,184);
}
#chapter7 {
    color:rgb(61,41,108);
}

#menu-toggle {
    font-family: Arial Rounded MT Bold;
    margin:0px;
}

#navBar {
    margin: 0 !important;
    padding: 0 !important;
    z-index: 99;
}

#lang {
    color: white;
    font-family: Arial Rounded MT Bold;
    float:right;
    font-size: 15px;
    align-items: flex-end;
    margin:0px;
}

.chapters {
    margin-right: 20px;
    position:relative;
    top:120px;
    z-index: 1;
}

.img-circle {
    height:250px;
    width: 355px;
    margin-bottom: 10px;
}

h1#title:link, h1#title:visited {
    color: yellow;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


h1#title:hover, h1#title:active {
     color: white;
}

/*a#lang:link, a#lang:visited {*/
    /*background-color: #f44336;*/
    /*color: white;*/
    /*padding: 3px 4px;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*display: inline-block;*/
/*}*/

/*a#lang:hover, a:active {*/
    /*background-color: red;*/
/*}*/

/* scroll to top button */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(255, 255, 255, 0.2);
     /* Set a background color */
    color: white; /* Text color*/
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
   background-color: rgba(144, 144, 144, 0.3);/* Add a dark-grey background on hover */
    color: black;
}


.img-circle:hover{
    opacity: 0.7;
}

/* pop up */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
svg,
video {
    align-items: center;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

button {
    margin-top: 5px;
}

#desc {
    position : absolute;
    top: 5px;
    left: 5px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
/*
    a,
    a:visited {
        text-decoration: none;
    }



    a[href]:after {
        content: " (" attr(href) ")";
    }*/
/*
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
*/

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

/*    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
*/
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }


}


