/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


html {
    color: #222;
    font-size: 1em;
    font-family: Arial Rounded MT Bold;
    line-height: 1.4;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Arial Rounded MT Bold;
    font-weight: bold;
}

body {
    background-color: rgb(19,193,229);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0; 
    padding: 0;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

audio,
img,
canvas,
svg,
video {
    align-items: center;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

input[type=button], input[type=submit] {
    background-color: #21cc5b;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    margin: 2px 1px;
    cursor: pointer;
}

input[type=reset] {
    background-color: #82c0fa;
    color: white;
    padding: 10px 13px;
    text-decoration: none;
    margin: 2px 1px;
    cursor: pointer;
}

iframe {
    width: 750px;
    height: 550px;
    margin: auto;
    display: block;
}

h1 {
    padding-left: 45px;
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 4em;
    font-weight: bold;
}

h1#title:link, h1#title:visited {
    color: yellow;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

h1#title:hover, h1#title:active {
    color: white;
}

.container {
    margin:0px;
}

.center {
    margin-left: 15%;
    margin-right: 15%;
}

.arrow {
    opacity: .57;
    z-index: 1;
}

.item {
    margin-left: 200px;
    margin-right: 200px;
}

.landing-title {
    color:rgb(255,253,57);
    font-family: Arial Rounded MT Bold;
    font-size: 600%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

.btn {
    position: fixed;
}

/*!!BUT BUTTON ANIMATION*/

.button {
  position: relative;
  left: 50%;
  top: 30px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background: #fff;
  width: 100px;
  padding: 20px 20px;
  border: 5px solid #4ac0ee;
  border-radius: 10px;
  color: #4ac0ee;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
  -moz-transition: all 0.15s ease-out 0.15s;
  -o-transition: all 0.15s ease-out 0.15s;
  -webkit-transition: all 0.15s ease-out;
  -webkit-transition-delay: 0.15s;
  -webkit-transition: all 0.15s ease-out 0.15s;
  transition: all 0.15s ease-out 0.15s;
}

.button:after, .button:before {
  position: absolute;
  width: 100%;
  max-width: 100%;
  top: 100%;
  left: 0;
  bottom: -10px;
  content: '';
  z-index: 1;
  border-radius: 10px;
  -moz-transition: all 0.15s ease-out 0.15s;
  -o-transition: all 0.15s ease-out 0.15s;
  -webkit-transition: all 0.15s ease-out;
  -webkit-transition-delay: 0.15s;
  -webkit-transition: all 0.15s ease-out 0.15s;
  transition: all 0.15s ease-out 0.15s;
}

.button:before {
  background: #4ac0ee;
  top: 10px;
  left: -15px;
  height: 100%;
  width: 15px;
}

.button:after {
  width: 100%;
  background: #4ac0ee;
  right: 0px;
  left: -15px;
  height: 15px;
}
.button:hover {
  background: #4ac0ee;
  color: #fff;
  margin-left: -7.5px;
  margin-bottom: -7.5px;
}

.button:hover:after, .button:hover:before {
  top: 100%;
  left: 0;
  bottom: 0px;
}

.button:hover:before {
  top: 0px;
  left: 0px;
  width: 0px;
}

.button:hover:after {
  right: 0px;
  left: 0px;
  height: 0px;
}
/*DONE WITH BUT BUTTON ANIMATION*/

.arrow, i {
    color: black;
}

.a {
    color:white;
}

.lead {
    font-family: Arial Rounded MT Bold;
    font-size: 2.5em;
    color: white;
    text-align: center;
}

.chapters {
    margin-right: 20px;
    position:relative;
    top:120px;
    z-index: 1;
}

.img-circle {
    height:250px;
    width: 355px;
    margin-bottom: 10px;
}

/* remove shadow in the carousel controls */
/*.carousel-indicators-numbers li {*/
    /*text-indent: 0;*/
    /*margin: 0 2px;*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*border: none;*/
    /*border-radius: 100%;*/
    /*line-height: 30px;*/
    /*color: #fff;*/
    /*background-color: #999;*/
    /*transition: all 0.25s ease;*/
/*}*/

.carousel-control {
    top:50%;
    width:auto;
    height:1em;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.carousel-control .glyphicon-circle-arrow-left, .carousel-control .glyphicon-circle-arrow-right  {
    position:static;
    display:block;
    font-size: 40px;
}

.carousel-control .glyphicon-circle-arrow-left:before, .glyphicon-circle-arrow-right:before {
    margin-left:35px;
    margin-right: 35px;
    color: #9733ca;
}

/*for things like section x.x chapters etc.*/
.heading {
    color: red;
    font-weight: bold;
}

.extraPadding {
    padding-left: 120px;
    padding-right: 120px;
}

.stars {
    padding: 20px;
}

.text-center {
    text-align: center;
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
}

.pad-left {
    padding-left: 45px;
}

.fontSizeTitle{
    font-size: 38px;
    padding-top: 20px;
    margin-bottom: 20px;
}

#indicatingCorrect {
    color:green;
}

#indicatingWrong {
    color:red;
}

#indicatingBlank{
    color:blue;
}

#principalImg img {
    display: block;
    margin: auto;
}

#goDown {
    align-self: center;
    margin: auto;
}

#message {
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 15px;
}

#home {
   width: 100%;
}

#myCarousel {
    position:absolute;
    left:0;
    right:0;
    top:100px;
    width:100%;
    height: 600px;
    margin: 0 auto;
    display: block;
}

.imgToRight {
    float: right;
    margin-right: 50px;
}

.imgToLeft {
    float: left;
    padding-right: 50px;
}

/*#slide2 iframe {*/
    /*width: 750px;*/
    /*height: 550px;*/
    /*margin: auto;*/
    /*display: block;*/
/*}*/

#slide3 img {
    float: right;
    margin-right: 20px;
}


#sidebar-wrapper {
    background-color: white;
    font-family: Arial Rounded MT Bold;
    font-size: 1em;
    font-weight: bold;
}

#chapter1 {
    color:rgb(237,18,117);
}

#chapter2 {
    color:rgb(216,13,19);
}
#chapter3 {
    color:rgb(255,100,0);
}
#chapter4 {
    color:rgb(255,192,0);
}
#chapter5 {
    color:rgb(26,117,5);
}
#chapter6 {
    color:rgb(0,147,184);
}
#chapter7 {
    color:rgb(61,41,108);
}

#menu-toggle {
    font-family: Arial Rounded MT Bold;
    margin:0px;
}

#navBar {
    margin: 0 !important;
    padding: 0 !important;
    z-index: 99;
}

#lang {
    color: white;
    font-family: Arial Rounded MT Bold;
    float:right;
    font-size: 15px;
    align-items: flex-end;
    margin:0px;
}

/* scroll to top button */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(255, 255, 255, 0.2);
     /* Set a background color */
    color: white; /* Text color*/
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
   background-color: rgba(144, 144, 144, 0.3);/* Add a dark-grey background on hover */
    color: black;

}

.img-circle:hover{
    opacity: 0.7;

}

/*for popup fun button!!*/
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

.popup{
  position:relative;
  left:10vw;
  margin-left:35px;
  top:-7vh;
  margin-top:-400px;
  opacity:0;
  transition:all 1s;
  -webkit-transition:all 1s;
  display: inline-block;
  cursor: pointer;
}


.popup div
{
  width:500px;
  font-size:20px;
}

.popup div
{
  padding:25px;
  background-color:black;
  border-radius:40px;
  color:white;
  text-align:center;
}

/* popUpbutton */
.popUpbutton{
 display:inline-block;
 color:#a35de8;/*blue*/
 background-color:#f7f49c; /*yellow*/
 padding:10px; 
 border-radius:100px;
 transition:all 1s;
 -webkit-transition:all 1s;
}

.popUpbutton:hover{
  background-color:#00FFFF;
  cursor:pointer;
}

.popUpbutton:hover ~.popup
{
  margin-left:45px;
  margin-top:-220px;
  opacity:0.8;
  z-index: 99
}

/*CHECK ANSWER AND RESET BUTTON EFFECTS*/
/* BUTTON 5 */
.btn5, .btn5:link, .btn5:visited {
  border: none;
  outline: none;
  color: #fefefe;
  background-color: #9b59b6;
  border-radius: 5px;
}
.btn5:hover, .btn5:focus, .btn5:link:hover, .btn5:link:focus, .btn5:visited:hover, .btn5:visited:focus {
  -webkit-transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
          transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  -webkit-animation: gelatine 0.5s 1;
          animation: gelatine 0.5s 1;
}

@-webkit-keyframes gelatine {
  from,to {
    -webkit-transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
  }
  from,to {
    -webkit-transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
  }
}
@keyframes gelatine {
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */



/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

button {
    margin-top: 5px;
}
footer {
    color:white;
    height:100px;
    text-align: center;
    width: 100%;
    top:150px;
    font-size: 15px;
    font-family: Arial Rounded MT Bold;
}

#desc {
    position : absolute;
    top: 5px;
    left: 5px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* to update the size of the menu button */
@media (max-width: 750px) {
    .btn {
        padding:2px 4px;
        font-size: 20px;
        line-height: 1;

    }
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
/*
    a,
    a:visited {
        text-decoration: none;
    }



    a[href]:after {
        content: " (" attr(href) ")";
    }*/
/*
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
*/

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

/*    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
*/
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }


}



