<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Chapter 4 How do you treat a low 12 1 14 edit 1</string>
	<key>CFBundleIdentifier</key>
	<string>com.tumult.hype.widget.Chapter4Howdoyoutreatalow12114edit1</string>
	<key>CFBundleName</key>
	<string>Chapter 4 How do you treat a low 12 1 14 edit 1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Height</key>
	<string>768</string>
	<key>MainHTML</key>
	<string>Chapter 4 How do you treat a low 12 1 14 edit 1.wdgt.html</string>
	<key>Width</key>
	<string>1024</string>
</dict>
</plist>
